.cartHerb {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	width: 90%;
	background-color: aliceblue;
	border-radius: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.cartHerbWeight {
	text-align: center;
}
.cartHerbPrice {
	text-align: right;
}
.quantBtns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.addBtn,
.removeBtn {
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
}
.addBtn {
	background-color: green;
	margin: auto 0.5rem;
}
