.headerBtn {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	background-color: #ddd;
	border: none;
	border-radius: 1rem;
	color: #000;
	cursor: pointer;
}
.numHerbs {
	margin: 0rem 0.5rem 0rem 1rem;
	color: red;
	font-weight: 700;
}
