.select {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* .amount {
	text-align: center;
	padding: 0.125rem 0.5rem;
	font-size: 0.8rem;
	appearance: none;
	box-shadow: none;
	background-color: #ddd;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	--webkit-appearance: none;
	--moz-appearance: none;
	--ms-appearance: none;
}
.amount::-ms-expand {
	display: none;
}
.amount::after {
	background-color: #fff;
}
.amount option {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.addToCartBtn {
	padding: 0.5rem 0.5rem;
	border: none;
	border-radius: 1rem;
	font-weight: 700;
	background-color: #68b984;
	cursor: pointer;
}
@media (min-width: 768px) {
	.amount {
		padding: 0.25rem 0.75rem;
	}
}
.dropDownHeader {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	color: #3faffa;
}

.amount {
	display: flex;
	flex-direction: column;

	grid-template-columns: 1fr;
}
.amount:first-child {
	padding-top: 0.5rem;
}
.amount li {
	list-style: none;
	font-size: 0.8rem;
}
