.herbsList {
	display: flex;
	justify-content: center;
}
ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 0.5rem;
	list-style-type: none;
}

@media (min-width: 768px) {
	.herbsList ul {
		width: 30rem;
	}
}
