.herb {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0.5rem 0;
	padding: 0.5rem 0.5rem;
	width: 100%;
	background-color: #fff;
	border-radius: 1rem;
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
	overflow: hidden;
}
.herbImgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.herbImgContainer {
	display: flex;
	/* width: 160px;
	height: 90px; */
	/* overflow: hidden; */
}
img {
	width: 150px;
	height: 100px;
	background-color: #fff;
	margin-right: 1rem;
}
.herbInfos {
	display: flex;
	height: 100%;
	width: 100%;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.name {
	font-size: 1.25rem;
}
.price {
	font-weight: 700;
}
.price span {
	font-size: 0.9rem;
	font-weight: normal;
	color: #aaa;
}

@media (min-width: 768px) {
	.herb {
		margin: 0.5rem 0rem;
	}
}
