.welcomeBg {
	position: absolute;
	top: 4rem;
	height: 11rem;
	width: 100%;
	border-radius: 0.5rem;
	background-image: url('../assets/chives-g377a7d044_640.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.welcome {
	position: absolute;
	top: 6rem;
	left: 0;
	right: 0;
	padding: 1rem;
	margin: 0 1rem;
	font-size: 0.8rem;
	text-align: center;
	background-color: rgba(234, 231, 177, 0.7);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	z-index: 100;
}
@media (min-width: 768px) {
	.welcomeBg {
		background-image: url('../assets/chives-gf9bb52e8f_1920.jpg');
	}
}
